PackageIdentifier: t33n-software.GitGovernance
PackageVersion: "{{VERSION}}"
PackageLocale: en-US
Publisher: t33n-software
PublisherUrl: https://github.com/t33n-software
PublisherSupportUrl: https://github.com/t33n-software/git-governance/issues
PackageName: git-governance
PackageUrl: https://github.com/t33n-software/git-governance
License: Proprietary
LicenseUrl: https://github.com/t33n-software/git-governance/blob/main/LICENSE
ShortDescription: Native CLI for governed Git branches, commits, and workflows.
ManifestType: defaultLocale
ManifestVersion: 1.6.0
