PackageIdentifier: t33n-software.GitGovernance
PackageVersion: "{{VERSION}}"
InstallerType: zip
NestedInstallerType: portable
NestedInstallerFiles:
  - RelativeFilePath: git-governance.exe
    PortableCommandAlias: git-governance
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/t33n-software/git-governance/releases/download/{{TAG}}/git-governance_{{VERSION}}_windows_amd64.zip
    InstallerSha256: "{{WINDOWS_AMD64_SHA256}}"
  - Architecture: arm64
    InstallerUrl: https://github.com/t33n-software/git-governance/releases/download/{{TAG}}/git-governance_{{VERSION}}_windows_arm64.zip
    InstallerSha256: "{{WINDOWS_ARM64_SHA256}}"
ManifestType: installer
ManifestVersion: 1.6.0
